.components.Banner {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #eee;
  position: relative;
  overflow: hidden;
  > swiper {
    width: 100%;
    height: 100%;
    .swiper-item {
      > image {
        width: 100%;
        height: 100%;
      }
    }
  }
}