.Page.myActivity {
  background: #f8f8f8;
  > scroll-view {
    width: 100%;
    height: 100%;
    .PageContent {
      position: relative;
      overflow: hidden;
      min-height: 100vh;
      padding: 0 30px;
      >.List {
        >view {
          margin-top: 30px;
          position: relative;
          overflow: visible;
          >text {
            display: block;
            font-size: 28px;
            line-height: 40px;
            margin-bottom: 30px;
          }
        }
      }
      > .PageBottom {
        text-align: center;
        font-size: 0;
        white-space: nowrap;
        > text {
          display: inline-block;
          font-size: 28px;
          color: #666;
          line-height: 40px;
          margin: 20px auto;
        }
      }
    }
  }
}
