.components.NewsListItem {
  width: 100%;
  position: relative;
  overflow: hidden;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  >.Img {
    width: 220px;
    height: 176px;
    position: relative;
    overflow: hidden;
    background: #eee;
    margin-right: 20px;
    >image {
      width: 100%;
      height: 100%;
    }
  }
  >.flex-item {
    >text {
      display: block;
      font-size: 24px;
      color: #666;
      line-height: 30px;
      &:first-child {
        font-size: 30px;
        line-height: 40px;
        max-height: 80px;
        color: #333;
        font-weight: bold;
        margin-bottom: 20px;
      }
    }
  }
}